@model AnimalCareApplication.Models.RendezVou

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RendezVou</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRendezVous" />
            <div class="form-group">
                <label asp-for="DateRv" class="control-label"></label>
                <input asp-for="DateRv" class="form-control" />
                <span asp-validation-for="DateRv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Heure" class="control-label"></label>
                <input asp-for="Heure" class="form-control" />
                <span asp-validation-for="Heure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label>
                <input asp-for="Statut" class="form-control" />
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAnimal" class="control-label"></label>
                <select asp-for="IdAnimal" class="form-control" asp-items="ViewBag.IdAnimal"></select>
                <span asp-validation-for="IdAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVeterinaire" class="control-label"></label>
                <select asp-for="IdVeterinaire" class="form-control" asp-items="ViewBag.IdVeterinaire"></select>
                <span asp-validation-for="IdVeterinaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
